*{
    margin: 0;
    padding: 0;
    font-family: 'poppins',sans-serif;
    box-sizing: border-box;
}
.fa-pencil-square-o{
    font-size: 32px;
}
.container{
    width:100%;
    min-height: 100vh;
    background: linear-gradient(135deg,#b7c311,#1ba3ddf9);
    padding: 10px;
}
.todo-app{
    width: 100%;
    max-width: 540px;
    background: #fff;
    margin: 100px auto 20px;
    padding: 40px 30px 70px;
    border-radius: 10px;
   
}
.todo-app .h1-mg{
    color: #002765;
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}
.fa-book-open{
    width: 30px;
    margin-left: 10px;
    font-size: 40px;
    color: rgb(255, 98, 0);

}
.fa-pen{
color: rgb(255, 98, 0);
}
.row{
display: flex;
align-items: center;
justify-content: space-between;
background: #edeef0;
border-radius: 30px;
padding-left: 20px;
margin-bottom: 25px;
}
input{
    flex: 1;
    border: none;
    outline: none;
    background: transparent;
    padding: 10px;
    font-size: 25px;
}
button{
    border: none;
    outline: none;
    padding: 16px 50px;
    background: #ff005d;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    border-radius: 40px;
}
ul li{
    list-style: none;
    font-size: 25px;
    padding: 12px 8px 12px 50px;
    user-select: none;
    cursor: pointer  ;
    position: relative;

}  
ul li::before{
    content: '';
    position: absolute;
    height: 28px;
    width: 28px;
    border-radius: 50%;
    background-image: url(img/unchecked.png);
    background-size: cover;
    background-position: center;
    top: 12px;
    left: 8px;
}
ul li.checked{
    color: #555;
    font-size: 25px;

}
ul li.checked::before{
background-image: url(img/checked.png);
font-size: 25px;

}
ul li span{
    position: absolute;
    right: 0;
    top: 5px;
    width: 40px;
    height: 40px;
    font-size: 28px;
    color: #555;
    line-height: 40px;
    text-align: center;
}
ul li span:hover{
    background:#eb266e;
    border-radius: 20px;
    height:38px ;
    width: 50px;
    border: none;
    color: #fff;

}
@media (max-width: 768px) {
    .todo-app {
        padding: 20px;
        margin: 50px auto 10px;
    }

    .row {
        flex-direction: column;
        align-items: stretch;
        padding: 10px;
    }

    .row input {
        font-size: 18px;
        padding: 10px;
        margin-bottom: 10px;
    }

    .row button {
        width: 100%;
        padding: 12px 0;
        font-size: 18px;
    }

    ul li {
        font-size: 20px;
        padding: 10px 8px 10px 40px;
    }

    ul li::before {
        height: 24px;
        width: 24px;
        top: 10px;
        left: 6px;
    }

    ul li span {
        font-size: 24px;
        width: 30px;
        height: 30px;
        line-height: 30px;
    }
}

/* */

